body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #28aee4;
    height: 100vh;
    font-family: helvetica;
    font-size: 4rem;
    font-weight: bold;
}
